
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #0d00ffe8;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}


.content h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0; 
  height: 2px;
  border-radius: 5px;
  background-color: #453ce5;
  transition: width 0.5s ease; }

.content h2:hover::after {
  width: calc(100% - 40px); 
}

.content h2:hover {
  color: #9423fe;
}

.content p {
  font-size: 15px;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  animation: fadeIn 1s forwards;
}

@media only screen and (max-width: 600px) {
  .content p {
    font-size: 16px;
    padding: 10px;
  }
}

.imageWrapper {
  width: 100%;
  max-width: 500px;
  animation: fadeIn 1s forwards;
}



@media (min-width: 768px) {
  .aboutSection {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .content {
    text-align: left;
    margin-right: 20px;
    max-width: 50%;
  }


  .imageWrapper {
    max-width: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
